<h1 mat-dialog-title>Select Playlist</h1>
<div mat-dialog-content>
  <mat-selection-list #playlists (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let playlist of data.playlists; let i = index" [value]="playlist" [selected]="playlistsStatus[i].containsMovie">
      {{ playlist.playlistName }}
    </mat-list-option>
  </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onAdd(playlists.selectedOptions.selected)">Add</button>
</div>